# Ignore Python Cache & Compiled Files
__pycache__/
*.pyc
*.pyo

# Ignore Virtual Environments
venv/
env/

# Ignore Logs
logs/
*.log

# Ignore IDE Configurations
.vscode/
.idea/

# Ignore Docker Build Files
*.tar
